.floating-image-wrapper {
  position: absolute;
  width: 10vw;   /* width scales with viewport width */
  height: 10vw;  /* keep square shape */
  border: 2px solid black;
  padding: 0.5vw; /* gap between image and outline */
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
  background-color: transparent;



}



.floating-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Position each image with vh/vw */
#image1 { top: 15vh; left: 2vw; width: 15vw; 
  height: 15vw;}
#image2 { top: 50vh; left: 7vw; width: 15vw; 
  height: 15vw;}





